<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Save any kind of movies
</div>

<div class="container mt-5 d-flex flex-row bd-highlight mb-3">
  <% @lists.each do |list|%>
    <div class="card m-1" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= link_to list.name, list_path(list) %></h5>
        <%# <p class="card-text">Some quic and make up the bulk of the card's content.</p> %>
        <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
      </div>
    </div>
  <% end %>
</div>
